
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-sans-normal  {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 /* share text */
 .text-primary {
  color:#FD6E0A;
  
 }
 .text-center {
  text-align: center;
  
 }
 main {
  margin-top: 130px;
  margin-bottom: 130px;
 }

 .secondray-bg {
    background-color: #FFF8F3;
    
  }
  .secondary-title {
    font-weight:bold;
    font-size: 35px;
    color: #181818;
    
  }

  .secondary-description {
    font-weight: regular;
    font-size: 18px;
    color: #757575;
  
  }

  .dark-color {
    color: #474747;

  }
  .btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    border: none;
    cursor: pointer;
  }


/* nav style */
nav {
  display: flex;
  align-items: center;
    justify-content: space-between;
    margin: 0px auto;

}

nav ul {
  display: flex;
  align-items: center;
  
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
}

.nav-title {
  
  font-weight: 800;
  font-size: 45px;
  margin-left: 80px;
}
/* header */
.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
 background-position: left top, bottom right;
}

/* banner design  */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 38px 0 230px;
}

.banne-container-image{
  width: 584px;
}
.banner-container h4{
  width: 584px;
  font: weight 600px;
  font-size: 45px;
  color: #474747;

}

.banner-container h1{
  font-weight: bold;
  font-size: 85px;
  color: #181818;
  margin-top: 5px;
}

.banner-container p{
  font-size: 18px;
  color: #474747;
}


/* about- section  */

.main-section {
  max-width: 1140px;
  margin: 0 auto;
 
}

.about-section {
  text-align: center;
  padding: 131px 157px;
  border-radius: 10px;
  margin-top: 130px;
}

.about-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  
}
.about-item {

  text-align: center;
  padding: 0 20px;
}


.item-title {
  font-weight:regular;
  font-size: 20px;
  color: #757575;
  margin-top: 20px;
}
.item-description {
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  text-align: center;
  
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}
.skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.skill-title {
  font-weight: bold;
  font-size: 20px;
  color: #181818;
  margin-bottom: 10px;
}

.skill-description {
  font-weight: regular;
  font-size: 18px;
  color: #757575;
}