
.open-sans-normal  {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 /* share text */
 .text-primary {
  color:#FD6E0A;
  
 }

  .dark-color {
    color: #474747;

  }
  .btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    border-color: aliceblue;
  }
/* nav style */
nav {
  display: flex;
  align-items: center;
    justify-content: space-between;
    margin: 51px 230px;

}

nav ul {
  display: flex;
  align-items: center;
  
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
}

.nav-title {
  
  font-weight: 800;
  font-size: 45px;
}
/* header */
.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
 background-position: left top, bottom right;
}

/* banner design  */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 38px 0 230px;
}

.banne-container-image{
  width: 584px;
}
.banner-container h4{
  width: 584px;
  font: weight 600px;
  font-size: 45px;
  color: #474747;

}

.banner-container h1{
  font-weight: bold;
  font-size: 85px;
  color: #181818;
  margin-top: 5px;
}

.banner-container p{
  font-size: 18px;
  color: #474747;
}

